<html>
  <head>
    <script type="text/javascript" src='js/libs/moment.js'></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js'></script>
    <script type="text/javascript" src="https://unpkg.com/fabric@4.0.0-beta.8/dist/fabric.js"></script>
    <script type="text/javascript" src="https://kit.fontawesome.com/a076d05399.js"></script>    
    <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <script type="text/javascript" src='js/globalVariables.js'></script>
    <script type="text/javascript" src='js/entities/animals.js'></script>
    <script type="text/javascript" src='js/entities/kennels.js'></script>
    <script type="text/javascript" src='js/enum/itemEnum.js'></script>
    <script type="text/javascript" src='js/areagenerator.js'></script>
    <script type="text/javascript" src='js/panelInfo.js'></script>
    <script type="text/javascript" src='js/controlPanel.js'></script>
    <script type="text/javascript" src='js/form/utils.js'></script>
    <script type="text/javascript" src='js/mainButtons/lang.js'></script>
    <script type="text/javascript" src='js/lang/en.js'></script>
    <script type="text/javascript" src='js/lang/es.js'></script>
    <script type="text/javascript" src='js/lang/i18n.js'></script>
    <link   type='text/css' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link   type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css' rel='stylesheet'>
    <link   type='text/css' href='css/app.css' rel='stylesheet'>
   
  </head>
  <body>

    <div id="top-buttons">
      <div class="btn-group" style="margin:10px;">
        <buttons-main
          v-for="button in buttons"
          @click="button_click"
          :key="button.id"
          :prop="button">
        </buttons-main>
      </div>
      <div class="btn-group" data-toggle="buttons">
        <buttons-lang
          v-for="lang in langs"
          @click="button_click"
          :key="lang.id"
          :prop="lang">
        </buttons-lang>
      </div>
    </div>

    <script src="js/vue/top_buttons/component.js"></script>
    <script src="js/vue/top_buttons/vue.js"></script>

    <div class="panel panel-default" style="margin:10px;display:none;" id="areaPanel">
      <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist" id="areaPanelTab"></ul>
        <div class="tab-content" id="areaPanelTabContent"></div>
      </div>
    </div>

    <div id="hiddenRow" style="display:none;">
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading"><span id="controlPanelLang"></span></div>
            <div class="panel-body">
              <div class="panel panel-default">
                <div class="panel-heading"><span id="controlPanelAreaLang"></div>
                <div class="panel-body">
                  <div class="row" style="text-align: center;">
                    <div class="col-md-12">
                      <div class="btn-group">
                        <button type="button" id="removeLine" class="btn btn-default" style="height:34px" 
                          onclick="removeLine()">
                          <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        <span type="button" class="btn btn-default" style="cursor:default;">
                          <span id="numberPointsAreaLang"></span>
                          <span id="numberPointsArea"></span>
                        </span>
                        <button type="button" id="addLine" class="btn btn-default" style="height:34px"  
                          onclick="addLine()">
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">&nbsp;</div>
                  </div>
                  <div class="row" style="text-align: center;">
                    <div class="col-md-12">
                      <div class="btn-group">
                        <button type="button" id="rotateLeft" class="btn btn-default" style="height:34px"  onclick="rotate('left')">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                        </button>
                        <select id="grados"   class="btn btn-default" style="height:34px"><option value="-20">20°</option><option value="-45">45°</option><option value="-60">60°</option><option value="-90">90°</option><option value="-180">180°</option></select>
                        <button type="button"  id="rotateRight" class="btn btn-default" style="height:34px"  onclick="rotate('right')">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">&nbsp;</div>
                  </div>
                </div>
              </div>    
              <div class="row" style="text-align: center;">   
                <div class="col-md-12">
                  <div class="btn-group">
                    <button type="button" id="addKennelDog" onclick="addKennelItem(new item(ITEM.KENNEL_DOG.id))" class="btn btn-default btn-lg">
                      <span class="fas fa-dog" style="font-size:36px"></span>
                    </button>
                    <button type="button" id="addKennelCat" onclick="addKennelItem(new item(ITEM.KENNEL_CAT.id))" class="btn btn-default btn-lg">
                      <span class="fas fa-cat" style="font-size:36px"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">&nbsp;</div>
              </div>
              <div class="row" style="text-align: center;">   
                <div class="col-md-12">
                  <div class="btn-group">
                    <button type="button" id="addItemOffice" onclick="addItem(new item(ITEM.OFFICE.id))" class="btn btn-default btn-lg">
                      <span class="glyphicon_200 glyphicon glyphicon-home"></span>
                    </button>
                    <button type="button" id="addItemTree" onclick="addItem(new item(ITEM.TREE.id))" class="btn btn-default btn-lg">
                      <span class="fas fa-tree" style="font-size:36px"></span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">&nbsp;</div>
              </div>
              <div class="row" style="text-align: center;">   
                <div class="col-md-12">
                  <div class="btn-group">
                    <button type="button" id="addItemEntry" onclick="addItem(new item(ITEM.ENTRY.id))" class="btn btn-default btn-lg">
                      <span class="fas fa-door-open" style="font-size:36px"></span>
                    </button>
                    <button type="button" id="addItemFaucet" onclick="addItem(new item(ITEM.FAUCET.id))" class="btn btn-default btn-lg">
                      <span class="fas fa-faucet" style="font-size:36px"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <canvas width="600" height="400" style="border:1px solid #ccc"></canvas>
        </div>
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading"><span id="controlPanelInfoLang"></span></div>
            <div class="panel-body" id="info" style="display: none;">
              <div class="row">
                <div class="col-md-5" style="text-align: right;">
                  <span id="kennelIdLang"></span>
                </div>
                <div class="col-md-7">
                  <span id="chenilId"></span>
                </div>
              </div>    
              <div class="row">
                <div class="col-md-12">&nbsp;</div>
              </div>        
              <div class="row">
                <div class="col-md-12" style="text-align: center;">
                  <button type="button" id="addRecord" onclick="addRecord()" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span id="recordLang"></span>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">&nbsp;</div>
              </div>   
              <div id="infoFiles"></div>
            </div>
            </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default" style="margin:10px;display:none;" id="simulatorSavePanel">
      <div class="panel-heading">
        <h3 class="panel-title"><span id="controlPanelSaveSimulatorLang"></span></h3>
      </div>
      <div class="panel-body" id="simulatorSavePanelBody" style=" word-wrap: break-word;"></div>
    </div>    
    
    <div class="modal fade" id="modalChageChenil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only"><span id="closeLang1"></span></span>
            </button>
            <h4 class="modal-title" id="myModalLabel"><span id="modalChageChenilTitleLang"></span></h4>
          </div>
          <div class="modal-body">
            <form role="form" id="formChangeChennil">
              <input type="hidden"  name="idAnimal">
              <div class="form-group">
                <label><span id="speciesLang"></span></label> <span id="species"></span><br/>
              </div>
              <div class="form-group">
                <label><span id="nameLang"></span></label> <span id="name"></span><br/>
              </div>
              <div class="form-group">
                <label><span id="currentKennel"></span></label> <span id="actualChenil"></span><br/>
              </div>
              <div class="form-group">
                <span id="chenilDisponibles"></span>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><span id="closeLang2"></span></button>
            <button type="button" class="btn btn-primary" id="saveChangeChenilBtn" onclick="saveChangeChenil()"><span id="saveLang2"></span></button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only"><span id="closeLang3"></span></span>
            </button>
            <h4 class="modal-title" id="myModalLabel"><span id="modalRecordTitleLang"></span></h4>
          </div>
          <div class="modal-body">
            <form role="form" id="formFile">
              <div class="form-group">
                <label for="name"><span id="nameLang1"></span></label>
                <input type="text"  name="id" style="display:none;">
                <input type="hidden"  name="idKennel">
                <input type="hidden"  name="species">
                <input type="text"  class="form-control" id="fileName" name="name"> 
              </div>
              <div class="form-group">
                <label for="sex"><span id="sexLang"></span></label><br/>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <input type="radio" name="sex" id="sex" value="female">
                    <span id="femaleLang"></span>
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="sex" id="sex" value="male">
                    <span id="maleLang"></span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="weight"><span id="weightLang"></span></label>
                <input type="text" class="form-control" id="fileWeight" name="weight">
              </div>
              <div class="form-group">
                <label for="race"><span id="raceLang"></span></label>
                <input type="text" class="form-control" id="fileRace" name="race">
              </div> 
              <div class="form-group">
                <label for="race"><span id="ageLang"></span></label>
                <input type="text" class="form-control" id="fileAge" name="age">
              </div>  
              <div class="form-group">
                <label for="race"><span id="pickUpDateLang"></span></label>
                <div class="input-group date" data-provide="datepicker" id="dpPickUpDate">
                  <input type="text" class="form-control" id="filePickUpDate" name="pickUpDate">
                  <div class="input-group-addon">
                      <span class="glyphicon glyphicon-th"></span>
                  </div>
                </div> 
              </div>
              <div class="form-group">
                <label for="size"><span id="sizeLang"></span></label><br/>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <input type="radio" name="size" id="size" value="toy">
                    <span id="toyLang"></span>
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="size" id="size" value="little">
                    <span id="littleLang"></span>
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="size" id="size" value="medium">
                    <span id="mediumLang"></span>
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="size" id="size" value="big">
                    <span id="bigLang"></span>
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="size" id="size" value="gigante">
                    <span id="giantLang"></span>
                  </label>
                </div>
              </div>      
              <div class="form-group">
                <label for="sterilized"><span id="sterilizedLang"></span></label><br/>
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <input type="radio" name="sterilized" id="sterilized" value="no">
                    <span id="noLang"></span>
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="sterilized" id="sterilized" value="yes">
                    <span id="yesLang"></span>
                  </label>
                </div>
              </div>  
              <div class="form-group">
                <label for="description"><span id="descriptionLang"></span></label>
                <textarea class="form-control"  name="description" id="description" rows="3"></textarea>
              </div>  
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><span id="closeLang4"></span></button>
            <button type="button" class="btn btn-primary" onclick="saveFile()"><span id="saveLang3"></span></button>
          </div>
        </div>
      </div>
    </div>
  </body>  

  <script type="text/javascript" src='js/mainButtons/simulatorSave.js'></script>
  <script type="text/javascript" src='js/mainButtons/addArea.js'></script>
  <script type="text/javascript" src='js/mainButtons/deleteArea.js'></script>
  <script>
   $(document).ready(function() {changeLanguage('ES');});
  </script>
</html>